<div class="grid">
    <div class="col-12 lg:ml-8 ml-3 mt-5">
        <h1 class="text-lg font-bold lg:ml-5 ml-3">NEW THIS WEEK</h1>
    </div>

    <div class="col-12">
        <section class="flex flex-wrap justify-content-center gap-3 mt-5">
            <ng-container *ngFor="let comic of comics" class="flex">
                <app-comic-card [comic]="comic" class="transition-ease-in-out cursor-pointer transition-duration-500  hover:shadow-8" routerLink="/comic-details/{{ comic.id }}" />
            </ng-container>
        </section>
    </div>

   
</div>